body {
  margin-right: 8em;
}

#logoImage {
  margin-top: 2em;
  margin-left: 6em;
}

#testo1 {
  text-align: justify;
  margin-left: 6em;
}

#testo2 {
  text-align: justify;
  margin-left: 7.5em;
  line-height: 1.5em;
  margin-bottom: 3.5em;
}

#logoImage {
  margin-bottom: 4em;
}

#pink {
  color: #d20094;
  font-size: 25px;
  font-weight: 600;
}

#titolo1 {
  margin-bottom: auto;
  font-weight: 250;
}

.evidenziato {
  font-weight: 850;
}

#article1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  line-height: 1em;
}

.condizione {
  text-align: justify;
  margin-left: 6em;
  margin-bottom: 6em;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #00ffff;
}

input[type="checkbox"]:hover {
  border-color: #555;
}

.glowButton {
  float: inline-end;
  height: 3em;
  width: 9em;
}
