#testo1 {
  text-align: justify;
  margin-left: 6em;
  margin-right: 15em;
}

#testo2 {
  text-align: justify;
  margin-left: 7.5em;
  line-height: 1.5em;
  margin-bottom: 3.5em;
}

#logoImage {
  margin-bottom: 4em;
}

#pink {
  color: #d20094;
  font-size: 25px;
  font-weight: 600;
}

#titolo1 {
  margin-bottom: auto;
  font-weight: 250;
}

.evidenziato {
  font-weight: 500;
}

#article1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  line-height: 1em;
}

.glowButton {
  float: right;
  margin-right: 10em;
}

.condizione {
  text-align: justify;
  margin-left: 6em;
}
