body {
  margin: auto;
  font-family: "Inter", sans-serif;
  background-image: url(/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0.6em;
}

p {
  line-height: 1.8em;
}

#logoImage {
  width: 17em;
  text-align: left;
  margin-left: 3em;
  margin-top: 3em;
  margin-bottom: 6em;
}

main {
  text-align: center;
  color: white;
}

.glowButton {
  background-color: #00ffff;
  width: 12%;
  height: 4em;
  font-weight: bold;
}